
<p style="text-align: left;"><em>These are the audio files used in my original mix for the FragDenStaat.de video.</em></p>

<p style="text-align: center;">Music:</p>
<p style="text-align: center;"><a href="http://brokeforfree.com/">XXV</a> <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> Broke For Free 
<a href="https://twitter.com/BrokeForFree">@brokeforfree</a></p>
<p style="text-align: center;">Sound Effects:</p>

<p style="text-align: left;"><em>The following sound effects can be found on   
<a href="http://freesound.org/">FreeSound.org</a>, a community of audio enthusiasts who create, share and remix sounds - the majority of these sounds are available under libre licenses such as Creative Commons Attribution, Attribution ShareAlike or the 'no rights reserved' public domain mark, CC0.
Check out the artists' other sounds, or consider contributing yourself!</em></p>
<p style="text-align: center;">Sounds used under   
<a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>:</p>
<p style="text-align: center;">  
<a href="http://www.freesound.org/people/qubodup/sounds/216571">letter-box.flac</a> CC-BY qubodup<BR>
  
<a href="http://www.freesound.org/people/jorickhoofd/sounds/176638">peugot-206-car-exterior-engine-stationary-horn-claxon-reverb.wav</a> CC-BY jorickhoofd <BR>
  
<a href="http://www.freesound.org/people/liamq/sounds/170359">spring-door-stop.wav</a> CC-BY liamq<BR>
  
<a href="http://www.freesound.org/people/cosmicembers/sounds/160757">deep-air-woosh.wav</a> CC-BY cosmicmembers<BR>
  
<a href="http://www.freesound.org/people/ztrees1/sounds/134935/">whoosh.wav</a> CC-BY ztrees1<BR>
  
<a href="http://www.freesound.org/people/vtkproductions.com/sounds/131559">envelope-handling-rustle-vtkproductions.wav</a> CC-BY vtkproductions-com<BR>
  
<a href="http://www.freesound.org/people/lonemonk/sounds/123686">chev-350-start-then-die.wav</a> CC-BY lonemonk<BR>
  
<a href="http://www.freesound.org/people/jesabat/sounds/119727">flashlight-switch.wav</a> CC-BY jesabat<BR>
  
<a href="http://www.freesound.org/people/plingativator/sounds/112155">stickwhoosh.wav</a> CC-BY plingativator<BR>
  
<a href="http://www.freesound.org/people/Glaneur%20de%20sons/sounds/104952">vent-wind-1.wav</a> CC-BY glaneur-de-sons<BR>
  
<a href="http://www.freesound.org/people/jasonelrod/sounds/85484">writing-with-pen.aif</a> CC-BY jasonelrod<BR>
  
<a href="http://www.freesound.org/people/firefreak/sounds/47244">clock-fastticking.wav</a> CC-BY firefreak<BR>
  
<a href="http://www.freesound.org/people/THE_bizniss/sounds/39317">scanner-5.wav</a> CC-BY the-bizness<BR>
  
<a href="http://www.freesound.org/people/Glaneur%20de%20sons/sounds/34172">woosh-02.wav</a> CC-BY glaneur-de-sons<BR>
  
<a href="http://www.freesound.org/people/roscoetoon/sounds/26831">t-driveby-backin.mp3</a> CC-BY roscoetoon</p>

<h5 style="text-align: center;"></h5>
<p style="text-align: center;">Sounds used under  
<a href="http://creativecommons.org/publicdomain/zero/1.0/"> Creative Commons Zero</a> :</p>
<p style="text-align: center;">  
<a href="http://www.freesound.org/people/joebro10/sounds/219318">mouse-clicks.wav</a> CC0 joebro10<BR>
  
<a href="http://www.freesound.org/people/alienxxx/sounds/218273">swish5.wav</a> CC0 alienxxx<BR>
  
<a href="http://www.freesound.org/people/alpanaytekin/sounds/213086">rolling-office-chair.wav</a> CC0 alpanaytekin<BR>
  
<a href="http://www.freesound.org/people/xdwx/sounds/212957">woosh slide-in 2(longer).wav</a> CC0 xdwx<BR>
  
<a href="http://www.freesound.org/people/Taira%20Komori/sounds/212085">letter-box.mp3</a> CC-BY taira komori<BR>
  
<a href="http://www.freesound.org/people/nikitralala/sounds/204756">demo-berlin.flac</a> CC0 nikitralala<BR>
  
<a href="http://www.freesound.org/people/nikitralala/sounds/204474">wien-demo.wav</a> CC0 nikitralala<BR>
  
<a href="http://www.freesound.org/people/kevaaq/sounds/203963">worn-engine-revving.flac</a> CC0 kevaaq<BR>
  
<a href="http://www.freesound.org/people/chazznf/sounds/203162">engine-crank-and-start.wav</a> CC0 chazznf<BR>
  
<a href="http://www.freesound.org/people/andrutzab/sounds/202880">female-voice-cartoon-huh-question-aham.aiff</a> CC0 andrutzab<BR>
  
<a href="http://www.freesound.org/people/jackdeb/sounds/198273">letterbox-clang.mp3</a> CC0 jackdeb<BR>
  
<a href="http://www.freesound.org/people/mario1298/sounds/181234">engine-subaru-forester-1989.wav</a> CC0 mario1298<BR>
  
<a href="http://www.freesound.org/people/swagmuffinplus/sounds/176146">sliding-doors.wav</a> CC0 swagmuffinplus<BR>
  
<a href="http://www.freesound.org/people/johnsonbrandediting/sounds/173932">ding-ding-small-bell.wav</a> CC0 johnsonbrandediting<BR>
  
<a href="http://www.freesound.org/people/ceebfrack/sounds/105351">backfire.ogg</a> CC0 ceebfrack<BR>
  
<a href="http://www.freesound.org/people/sagetyrtle/sounds/102108">072510-distant-cheer.wav</a> CC0 sagetyrtle<BR>
  
<a href="http://www.freesound.org/people/waterboy920/sounds/67040">newspaper-9.wav</a> CC0 waterboy920<BR>
  
<a href="http://www.freesound.org/people/digifishmusic/sounds/54963">three-passenger-jets-depart.wav</a> CC0 digifishmusic<BR>
  
<a href="http://www.freesound.org/people/123jorre456/sounds/46631">sliding-paper-on-table.wav</a> CC0 123jorre456<BR>
  
<a href="http://www.freesound.org/people/123jorre456/sounds/46625">dropping-and-sliding-paper.wav</a> CC0 123jorre456<BR>
  
<a href="http://www.freesound.org/people/stijn/sounds/43672">paper.wav</a> CC0 stijn</p>
